.main_search_plant_card_wrap {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.main_search_plant_card00 {
    width: 20%;
    height: 80%;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    /* box-shadow: 3px 10px 15px 3px #aaaaaa; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.plant_img{
    width: 90%;
    height: 50%;
    background-color: #bcc7a1;
    border-radius: 15px;
}
.plant_price {
    font: bold 1.1rem "Titillium Web", sans-serif;
    color: #8d9b6c;
}

.plant_name{
    font: bold 1.8rem "Titillium Web", sans-serif;
        color: #8d9b6c;
}