.card_detail_wrap {
    width: 100%;
    height: 1650px;
    background-color: #DCDCD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_detail {
    width: 70vw;
    height: 100%;
}

.card_detail_plant {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* 식물 이름 */
.card_detail_plant_wrap {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card_detail_plant_name {
    font: bold 2.8rem "Titillium Web", sans-serif;
}


/* 2 */
.card_detail_plant_back_color {
    height: 1300px;
    margin: 3% 0px;
    padding-top: 3%;
    background-color: #aebb8a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 2-1 */
.card_detail_plant_top {
    margin-top: 20px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* height: 40%; */
    width: 90%;

}

.card_detail_plant_img_wrap {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card_detail_plant_img {
    height: 90%;
    width: 70%;
    object-fit: fill;
    border-radius: 20px;
}

.card_detail_plant_sub {
    width: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card_detail_plant_sub>p {
    font: 400 1.2rem "Titillium Web", sans-serif;
    margin: 0px 10px;
}

/* 2 - 1 - 2 */
.card_detail_plant_intro_wrap {
    width: 50%;
}

.card_detail_plant_intro_title {
    font: bold 2rem "Titillium Web", sans-serif;
}

.card_detail_plant_intro_explain {
    margin-top: 20px;
    width: 90%;
    font: 400 1.1rem/35px "Titillium Web", sans-serif;
}

/* 2-2 */
.card_detail_plant_bottom {
    height: 70%;
    width: 90%;
    margin-bottom: 50px;
}

.card_detail_plant_bottom_inner {
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.card_detail_plant_info_title {
    font: bold 1.3rem/40px "Titillium Web", sans-serif;
}

.card_detail_plant_info_sub {
    font: 400 1.1rem/40px "Titillium Web", sans-serif;
}

@media screen and (max-width: 900px) {

    .card_detail_wrap {
        height: 1700px;
    }

    .card_detail {
        width: 80vw;
        height: 100%;
    }

    /* 식물 이름 */
    .card_detail_plant_wrap {
        height: 120px;
    }

    .card_detail_plant_name {
        font-size: 2rem;

    }

    .card_detail_plant_back_color {
        height: 1500px;
        margin-top: 20px;
    }


    .card_detail_plant_top {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .card_detail_plant_img_wrap {
        width: 100%;
        align-items: center;
        margin: 20px 0px;
    }

    .card_detail_plant_img {
        width: 85%;
        height: 260px;
    }

    .card_detail_plant_intro_wrap {
        width: 100%;
    }

    /* 식물 소개 */
    .card_detail_plant_intro_title {
        font-size: 1.4rem;
        margin: 10px 0px;
    }

    .card_detail_plant_intro_explain {
        width: 100%;
        font: 400 1rem/30px "Titillium Web", sans-serif;
    }

    .card_detail_plant_bottom {
        width: 80%;
    }

    .card_detail_plant_info_title {
        font: bold 1.4rem/50px "Titillium Web", sans-serif;
    }

    .card_detail_plant_info_sub {
        font: 400 1rem/30px "Titillium Web", sans-serif;
    }
}

@media screen and (max-width: 500px) {

    .card_detail_wrap {
        height: 1950px;
    }

    .card_detail_plant_back_color {
        height: 1700px;
    }

    .card_detail_plant_name {
        font-size: 1.5rem;
    }

    .card_detail_plant_sub {
        width: 100px;
    }

    .card_detail_plant_sub>p {
        font: 400 0.9rem "Titillium Web", sans-serif;
    }

    .card_detail_plant_img {
        height: 230px;
    }

    .card_detail_plant_intro_wrap {
        margin-top: 20px;
    }

    /* 식물 소개 */
    .card_detail_plant_intro_title {
        font-size: 1.2rem;
    }

    .card_detail_plant_intro_explain {
        font: 400 0.9rem/25px "Titillium Web", sans-serif;
    }

    .card_detail_plant_bottom_inner>p {
        font-size: 0.9rem;
    }

    .card_detail_plant_info_title {
        font: bold 1.1rem/40px "Titillium Web", sans-serif;
    }

    .card_detail_plant_info_sub {
        font: 400 0.9rem/30px "Titillium Web", sans-serif;
    }
}

/*  */