.google_login_before_wrap {
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #8d9b6c;
    border-radius: 20px;
}

.google_login_before_wrap:hover {
    cursor: pointer;
}

.google_login_text {
    font: 500 1.1rem "Titillium Web", sans-serif;
    color: #8d9b6c;
}

.google_login_after_wrap {
    border-radius: 50px;
    width: fit-content;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.google_login_after_wrap p {
    color: #8d9b6c;
    font: 500 1.1rem "Titillium Web", sans-serif;
    margin: 0 6px;
}

.google_login_after_wrap span {
    color: #8d9b6c;
    margin-bottom: 5px;
}

.google_login_after_name {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 10px;
}

.google_logout:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .google_login_text {
        font: 500 1rem "Titillium Web", sans-serif;
    }

    .google_login_after_wrap {
        width: 200px;
    }

    .google_login_after_wrap p {
        text-align: center;
        font: 500 1rem "Titillium Web", sans-serif;
        margin: 0 0px;
    }

    .google_login_after_name {
        width: 35px;
        height: 35px;
    }


}