.googlg_login_before_wrap {
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #8d9b6c;
    border-radius: 20px;
}

.googlg_login_before_wrap:hover {
    cursor: pointer;
}

.googlg_login_text {
    font: 500 1.1rem "Titillium Web", sans-serif;
    color: #8d9b6c;
}

.google_login_after_wrap {
    /* background-color: #8d9b6c; */
    border-radius: 50px;
    width: fit-content;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.google_login_after_wrap p {
    color: #8d9b6c;
    font: bold 1.1rem "Titillium Web", sans-serif;
    margin: 0 5px;
}

.google_login_after_wrap span{
    color: #8d9b6c;
    margin-bottom: 5px;
}

.google_login_after_name {
    text-align: center;
}

.google_logout:hover{
     cursor: pointer;
}