/* 카드섹션 */

.main_search_plant_card {
    position: relative;
    width: 100%;
    height: 55%;
}

.main_search_plant_card_wrap {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


/* 카드 ui */

.main_search_plant_card00 {
    width: 100%;
    height: 80%;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    /* box-shadow: 3px 10px 15px 3px #aaaaaa; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* swiper */
.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* plant 카드 */
.plant_img {
    width: 90%;
    height: 50%;
    background-color: #bcc7a1;
    border-radius: 15px;
}


.main_search_plant_name {
    font: bold 1.8rem "Titillium Web", sans-serif;
    color: #8d9b6c;
}

.main_search_plant_feature{
        width: 160px;
            display: flex;
            justify-content: space-around;
}

.main_search_plant_feature p {
    font: 400 1rem "Titillium Web", sans-serif;
}
@media screen and (max-width: 900px) {
    .main_search_plant_card00 {
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    /* 카드 ui */

    .main_search_plant_card00 {
        height: 33%;
    }

    /* plant 카드 */
    .plant_img {
        width: 90%;
        height: 60%;
        border-radius: 15px;
    }

    .plant_name {
        font: bold 1rem "Titillium Web", sans-serif;
    }
}