/* 어떤 식물을 찾으시나요? */
.main_search_plant_section {
    background-color: #DCDCD9;
    /* position: absolute; */
    width: 100%;
    height: 100vh;
}

.main_search_plant_find {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_search_plant_title_wrap {
    margin-bottom: 40px;
}

.main_search_plant_title {
    font: bold 4rem "Titillium Web", sans-serif;
    color: rgb(61, 61, 61);
}

.main_search_plant_title>span {
    font: bold 4.5rem "Titillium Web", sans-serif;
    color: #6d7a4d;
}

.main_search_plant_form_wrap,
.main_serach_button {
    z-index: 9;
}

.main_serach_form_inner {
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 4px solid #8d9b6c;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_search_plant_input {
    background-color: transparent;
    border: none;
    width: 400px;
    height: 50px;
    font: 400 1.3rem "Titillium Web", sans-serif;
    color: #505050;
}

.main_search_plant_input:focus {
    outline: none;
}

.main_search_plant_input::placeholder {
    color: #8d9b6c;
    font: 400 1.3rem "Titillium Web", sans-serif;
}

.main_serach_button {
    width: 40px;
    height: 40px;
    background: url(../../public/assets/header/header_search.png) no-repeat;
    background-size: 40px;
    font: 400 1.3rem "Titillium Web", sans-serif;
}

.main_serach_button:hover {
    cursor: pointer;
}

/* .main_serach_button_img{
    width: 100%;
    height: 100%;
    background-color: #6d7a4d;
} */