.survey_wrap {
    width: 100%;
    height: 100vh;
    background-color: #DCDCD9;
}

.survey_inner {
    /* background-color: #8d9b6c; */
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress_bar_text {
    font: bold 3rem "Titillium Web", sans-serif;
    color: #8d9b6c;
}

.survey_step_title {
    height: 100px;
    font: bold 2.8rem "Titillium Web", sans-serif;
    margin: 10px 0px 30px 0px;
}

.survey_step_title p {
    text-align: center;
    font: 500 0.9rem "Titillium Web", sans-serif;
}

/* 프로그레스바 */

.progress_bar_wrap {
    background-color: rgba(179, 179, 179, 0.5);
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    /* border-radius: 20px; */
}

.progress_bar {
    height: 10px;
    background-color: #8d9b6c;
    text-align: center;
    /* border-radius: 20px; */
}

/* survey 컴포넌트 */

button {
    border: none;
    background: none;
    outline: none;
}

.step_box_wrap {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey_step_card_wrap {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
}

.survey_step_card {
    box-sizing: border-box;
    flex: 1;
    width: auto;
    margin: 0 20px;
    height: 100%;
    border: 7px solid #d0dab3;
    border-radius: 50px;
    background-color: #d0dab3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.survey_step_card:hover {
    cursor: pointer;
    border-color: #768651;
}


/* 카드 안 ui */

/* 이미지 */
.step1_level_img,
.step3_place_img {
    width: 60%;
    height: 65%;
}

.step2_type_img,
.step4_price_img,
.step5_life_img,
.step6_height_img {
    width: 80%;
    height: 60%;
}

.step2_type_foliage {
    width: 100%;
}

.step3_place_img,
.step4_price_img {
    margin-bottom: 20px;
}

/* text */
.step1_level_text,
.step3_place_text,
.step4_price_text {
    font: bold 1.5rem "Titillium Web", sans-serif;
}

.step2_type_text {
    margin-top: 20px;
    font: bold 1.1rem "Titillium Web", sans-serif;
}

.step5_life_text,
.step6_height_text {
    font: bold 1.5rem "Titillium Web", sans-serif;
    margin-top: 20px;
}


.survey_step_card.selected {
    border-color: #768651;
}

/* 이전단계 다음 단계 */

.prev_next_button_wrap {
    width: 300px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.prev_next_button_wrap button {
    margin: 40px 0px;
    width: 120px;
    height: 50px;
    font: 400 1.2rem "Titillium Web", sans-serif;
    color: black;
    transition: all 0.1s;
    background-color: #a0af74;
    /* border: 3px solid  */
    border-radius: 20px;
    color: #fff;
}

.prev_next_button_wrap button:hover {
    cursor: pointer;
    color: #4d4d4d;
}



@media screen and (max-width: 1200px) {

    p {
        color: black;
        /* 모바일 기기에서는 검정색으로 보이도록 설정 */
    }

    .progress_bar_text {
        margin-top: -60px;
        font-size: 2.5rem;
    }

    .survey_step_title {
        font-size: 2.2rem;
    }

    .survey_step_title p {
        font-size: 1rem;
    }

    /* step_box */

    .step_box_wrap {
        width: 90vw;
        height: 50vh;
    }

    .survey_step_card {
        border-radius: 30px;
        margin: 0 10px;
    }

    .step2_type_text {
        margin-top: 10px;
        font-size: 1rem;
    }

    /* text */
    .step1_level_text,
    .step3_place_text,
    .step4_price_text {
        font-size: 1.2rem;
    }

    .step5_life_text,
    .step6_height_text {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .prev_next_button_wrap button {
        margin: 60px 0px;
    }

}


@media screen and (max-width: 900px) {

    /* 프로그레스바 */

    .progress_bar_text {
        margin-top: -60px;
        font-size: 2rem;
    }

    .survey_step_title {
        font-size: 1.8rem;
    }

    .survey_step_title p {
        font-size: 0.8rem;
    }

    /* step_box */

    .step_box_wrap {
        width: 95vw;
    }

    .survey_step_card02_wrap,
    .survey_step_card04_wrap,
    .survey_step_card06_wrap {
        display: grid;
        grid-template-rows: repeat(2, 170px);
        grid-template-columns: repeat(3, 1fr);
    }

    .survey_step_card {
        height: 150px;
    }

    .survey_step_card {
        margin: 0 10px;
    }

    /* 이미지 */
    .step1_level_img,
    .step3_place_img {
        width: 80%;
    }

    .step2_type_foliage {
        width: 100%;
    }

    /* 이전단계 다음 단계 */

    .prev_next_button_wrap {
        width: 250px;
        height: 30px;
    }

    .prev_next_button_wrap button {
        margin: 40px 0px;
        width: 100px;
        height: 45px;
        font-size: 1rem;
    }
}


@media screen and (max-width: 500px) {


    .survey_step_title {
        font-size: 1.5rem;
    }

    .survey_step_title p {
        font-size: 0.7rem;
    }

    .survey_step_card05_wrap {
        display: grid;
        grid-template-rows: repeat(2, 170px);
        grid-template-columns: repeat(3, 1fr);
    }

    .survey_step_card05_wrap .survey_step_card {
        height: 150px;
    }


    /* text */
    .step1_level_text,
    .step3_place_text,
    .step4_price_text,
    .step5_life_text,
    .step6_height_text {
        font-size: 0.9rem;
    }

    .survey_step_card02_wrap p {
        font-size: 0.7rem;
    }

}