/* 글씨 컬러 dce0ce */
/* 배경 컬러 8d9b6c */
/* border 컬러 a0af74 */


.header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    backdrop-filter: saturate(180%) blur(90px);
    /* background-image: linear-gradient(180deg, rgba(199, 199, 199, 0.5), rgba(203, 203, 203, 0.5)); */
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    transition: all 0.5s;
}

.header_wrap.closed {
    transform: translateY(-100%);
}

.header_inner {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_title {
    color: black;
    font: bold 2rem "Titillium Web", sans-serif;
}


/* inner */
.header_seach_bar_inner {
    width: 300px;
    height: 40px;
    background-color: #a0af74;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_seach_bar_input {
    width: 200px;
    border: none;
    background-color: #a0af74;
    color: #ffffff;
    font: 400 1rem "Titillium Web", sans-serif;
}

.header_seach_bar_input:focus {
    outline: none;
}

.header_seach_bar_input::placeholder {
    color: #ffffff;
    font: 400 0.9rem "Titillium Web", sans-serif;
}

.header_seach_bar_button {
    width: 40px;
    height: 30px;
    background: url(../../../public/assets/header/header_search.png) no-repeat;
    background-size: 30px;
}

.header_seach_bar_button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {
    .header_title {
        font: bold 2rem/1.5rem "Titillium Web", sans-serif;
    }

    /* inner */
    .header_seach_bar_inner {
        width: 300px;
        height: 38px;
    }

    .header_seach_bar_input {
        width: 230px;
        font-size: 1rem;
    }

    .header_seach_bar_button {
        width: 30px;
        height: 30px;
        background: url(../../../public/assets/header/header_search.png) no-repeat;
        background-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .header_title {
        font: bold 1.3rem/1.5rem "Titillium Web", sans-serif;
    }

    /* inner */
    .header_seach_bar_inner {
        width: 240px;
        height: 36px;
    }

    .header_seach_bar_input {
        width: 190px;
    }

    .header_seach_bar_button {
        width: 30px;
        height: 25px;
        background: url(../../../public/assets/header/header_search.png) no-repeat;
        background-size: 25px;
    }
}